<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAzheirDJDuy9OiOYK3LPjJA7Hn26lRI1E",
    authDomain: "creative6-89f30.firebaseapp.com",
    databaseURL: "https://creative6-89f30.firebaseio.com",
    projectId: "creative6-89f30",
    storageBucket: "",
    messagingSenderId: "792855247280"
  };
  firebase.initializeApp(config);
</script>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 class="display-3" id="welcomeText">Welcome to your meme library</h2>
        <a class="lead" id="logoutLink" href="/logout">Logout</a><br>
    </div>
    <div ng-controller="memeController">
        <form>
            Name: <input type="text" ng-model="meme.name">
            Image URL: <input type="text" ng-model="meme.picture">
            <input type="submit" ng-click="upload(meme)" value="Upload Meme">
        </form>
        <br>
<br>
<br>
<br>
<br>
    <div class="container">
	<div class="carousel slide fixed-bottom" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-3" ng-repeat="meme in memes"><a href="#"><img ng-src="{{meme.body}}" height="300" width="300"></a>
		    <div class="carousel-caption d-sm-inline">
    			<h3>{{meme.from}}</h3>
  		    </div>
		</div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>