body {
  font: 14px;
  font-family: 'Cantata One', serif;
  background-image: url("dankmemesback.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

a {
  font: 14px;
  font-family: 'Cantata One', serif;
  color: #468263;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}